@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :where(
      button,
      input,
      select,
      textarea,
      .btn,
      .input,
      .select,
      .textarea,
      .toggle,
      .checkbox,
      .radio
    ) {
    outline: none;
    box-shadow: none;
  }

  :where(
      button,
      input,
      select,
      textarea,
      .btn,
      .input,
      .select,
      .textarea,
      .toggle,
      .checkbox,
      .radio
    ):focus,
  :where(
      button,
      input,
      select,
      textarea,
      .btn,
      .input,
      .select,
      .textarea,
      .toggle,
      .checkbox,
      .radio
    ):focus-visible,
  :where(
      button,
      input,
      select,
      textarea,
      .btn,
      .input,
      .select,
      .textarea,
      .toggle,
      .checkbox,
      .radio
    ):focus-within {
    outline: none;
    box-shadow: none;
  }
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible,
select:focus,
select:focus-visible,
textarea:focus,
textarea:focus-visible,
.btn:focus,
.btn:focus-visible,
.input:focus,
.input:focus-visible,
.input:focus-within,
.select:focus,
.select:focus-visible,
.textarea:focus,
.textarea:focus-visible,
.textarea:focus-within {
  outline: none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}
